@charset "UTF-8";
@import "./_base";

.inner{
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1680px;
    width: 100%;
}

.sec{
    position: relative;

    + .sec{
        margin-top: 150px;
    }

    &:last-of-type{
        margin-bottom: 90px;
    }
}

.sec-tit{
    margin-bottom: 50px;
    font-family: 'Quattrocento', serif;
    font-size: 60px;
    color: #000;
    text-align: center;
}

//button
.btn-more{
    display: flex;
    align-items: center;
    margin-top: 36px;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;

    &::after{
        content: '';
        display: block;
        margin-left: 2px;
        width: 14px;
        height: 14px;
        @include bg('common/ico_more.png');
    }
}

@media (max-width: 768px) {
    .inner{
        padding: 0 20px;
    }

    .sec{
        + .sec{
            margin-top: 80px;
        }

        &:last-of-type{
            margin-bottom: 60px;
        }
    }

    .sec-tit{
        margin-bottom: 40px;
        font-size: 36px;
    }

    //button
    .btn-more{
        margin-top: 28px;
        font-size: 16px;
    }
}


.header{
    padding: 24px 0;
    background-color: #fff;

    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        display: block;
        width: 150px;

        img{
            width: 100%;
        }
    }

    .menu{
        .btn-menu{
            width: 28px;
            height: 28px;
            @include bg('common/ico_menu.png');
        }
        .menu-list{
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100;
            background-color: #fff;

            &.active{
                display: block;
            }

            .menu-item{
                strong{
                    font-size: 18px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 16px 0;

        .logo{
            width: 100px;
        }

        .menu{
            .btn-menu{
                width: 24px;
                height: 24px;
            }
        }
    }
}
.footer{
    padding: 90px 0;
    .inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .logo{
        display: block;
        width: 115px;

        img{
            width: 100%;
        }
    }
    .info-list{
        font-size: 14px;
        color: #666;
        line-height: 1.6;
    }
    .btn-text{
        color: #000;
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        padding: 40px 0;
        .inner{
            gap: 20px;
        }
        .logo{
            display: block;
            width: 115px;

            img{
                width: 100%;
            }
        }
        .info-list{
            font-size: 14px;
        }
    }
}