@charset "UTF-8";
@import "./_util";

//css 속성 선언 순서
// 1. 레이아웃  (overflow, display, position, top, right, bottom, left, z-index)
// 2. box (margin, padding, width, height, border)
// 3. 배경 (background)
// 4. 폰트 (font, color, letter-spacing, text-align, text-decoration, text-indent, vertical-align, white-space)
// 5. 기타 (위에 언급되지 않은 나머지 속성들, 폰트의 관련 속성 이후에 선언하며, 기타 속성 내의 선언 순서는 무관함)

.sec-tit{
    margin-bottom: 50px;
    font-family: 'Quattrocento', serif;
    font-size: 60px;
    color: #000;
    text-align: center;
}

.sec-visual{
    .tit-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 0 40px;
        width: 100%;
        color: #fff;
        text-align: center;

        .tit{
            font-family: 'Quattrocento', serif;
            font-size: 60px;
        }
        .desc{
            margin-top: 20px;
            font-size: 18px;
        }
    }
    .swiper-visual{
        height: 860px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-pagination-fraction{
            position: static;
            display: flex;
            align-items: center;
            gap: 0 10px;
            margin: 20px auto 0;
            width: fit-content;
            font-size: 14px;

            .line{
                display: inline-block;
                width: 50px;
                height: 1.5px;
                background-color: #fff;
            }
        }
    }
}

.sec-product{
    .product-list{
        display: flex;
        .item{
            flex: 1;
            border-right: 1px solid #f5f5f5;

            &:last-of-type{
                border-right-width: 0;
            }

            a{
                display: block;
            }

            .img-wrap{
                overflow: hidden;
                position: relative;
                margin: 0 auto 20px;
                //width: 378px;

                &::before{
                    content: '';
                    display: block;
                    padding-top: 120%;
                    width: 100%;
                }

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    object-fit: contain;
                }
            }
            .txt-wrap{
                font-size: 18px;
                text-align: center;

                .desc{
                    margin-top: 4px;
                    font-size: 14px;
                    color: #808080;
                }

                .price{
                    margin-top: 12px;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }
    }
}

.sec-product-detail{
    font-family: 'Quattrocento', serif;

    img{
        width: 100%;
    }

    .product-row{
        position: relative;
        display: flex;

        + .product-row{
            margin-top: 150px;
        }

        .img-list{
            display: flex;
            width: 58%;

            .img-wrap{
                position: relative;
                flex: 1;
            }
            .caption{
                margin-top: 50px;
                font-size: 14px;
                color: #666;
            }
        }
        .txt-pos{
            position: absolute;
            top: 216px;
            left: calc(58% + 150px);
            //right: 13%;
            //margin: 216px 0 0 150px;
            font-size: 36px;
        }
        .product-thumb{
            flex-shrink: 0;
            margin-top: 400px;
            margin-left: auto;
            width: 20%;
            min-width: 354px;

            a{
                display: block;
            }

            .img-wrap{
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    height: 80%;
                    background-color: #f3f3f3;
                }
            }
            .txt-wrap{
                margin-top: -12%;
                padding-left: 38px;

                .tit{
                    font-size: 48px;
                }
            }
        }

        //bg-obj-img
        .img-obj1{
            &::before{
                content: '';
                position: absolute;
                top: 32px;
                right: -250px;
                display: block;
                @include bg("content/img_product_05_bg.png");
                width: 520px;
                height: 520px;
                z-index: -1;
            }
        }
        .img-obj2{
            &::before{
                content: '';
                position: absolute;
                top: 152px;
                left: 0;
                display: block;
                @include bg("content/img_product_06_bg.png");
                width: 160px;
                height: 454px;
                z-index: -1;
            }
        }

        &:nth-of-type(2n){
            padding: 0 220px;

            .img-list{
                width: 100%;

                .img-wrap:nth-of-type(2){
                    margin-top: 374px;
                }
            }
            .txt-pos{
                top: 160px;
                right: 16%;
            }
            .product-thumb{
                order: -1;
                margin: 0;

                .img-wrap{
                    &::before{
                        height: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: 1800px) {
        .product-row{
            &:nth-of-type(2n){
                padding: 0 40px;

                .txt-pos{
                    right: 8%;
                }
            }

            .img-obj2{
                &::before{
                    display: none;
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .product-row{
            flex-direction: column;
            .img-list{
                width: 65%;
            }
            .thumb-wrap{
                display: flex;
            }
            .txt-pos{
                position: static;
                padding: 200px 100px 0;
            }
            .product-thumb{
                margin-top: 0;
                width: 25%;
            }

            &:nth-of-type(2n){

                .img-list{
                    width: 80%;
                    margin: 0 auto;

                    .img-wrap:nth-of-type(2){
                        margin-top: 240px;
                    }
                }
                .txt-pos{
                    padding-right: 0;
                }
                .thumb-wrap{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.sec-recommend{
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bg("content/img_banner.png");

    .inner{
        text-align: center;
        color: #fff;
    }

    .sub-tit{
        font-family: 'Quattrocento', serif;
        font-size: 16px;
        margin-bottom: 14px;
    }
    .tit{
        font-size: 36px;
    }
    .desc{
        margin-top: 4px;
        font-size: 18px;
    }
    .btn-wrap{
        margin-top: 14px;

        .btn-more{
            justify-content: center;
            &::after{
                @include bg("common/ico_more_w.png");
            }
        }
    }
}
.sec-news{
    .news-list{
        display: flex;

        li{
            flex: 1;

            a{
                display: block;
            }
            .img-wrap{
                position: relative;
                width: 100%;

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding-top: 100%;
                }
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .txt-wrap{
                margin-top: 20px;
                .tit{
                    font-size: 18px;
                }
                .desc{
                    margin-top: 6px;
                    font-size: 14px;
                    color: #808080;
                }
            }
        }
    }
}
.sec-instagram{
    .instagram-list{
        display: flex;
        gap: 24px;

        li{
            flex: 1;

            a{
                display: block;
            }
            .img-wrap{
                position: relative;
                width: 100%;

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding-top: 100%;
                }
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}