@charset "UTF-8";

$fonts-style-ko: (Regular: 400, Medium: 500, SemiBold: 600, Bold: 700);
$fonts-style-en: (Regular: 400, Bold: 700);

@each $font, $weight in $fonts-style-ko{
    @font-face{
        @include font(#{$font-ko}, '#{$font-ko}-#{$font}', 'woff', #{$weight});
        font-style: normal;
    }
}

@each $font, $weight in $fonts-style-ko{
    @font-face{
        @include font(#{$font-en}, '#{$font-en}-#{$font}', 'woff', #{$weight});
        font-style: normal;
    }
}